@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#2a2d3559;
  
}

#navBarColour{
  background-color: #2a2d35;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-list-dashboard{
  width: 75%;
  display: inline;
  /* border: 1px solid red; */
  margin: 0 auto;
  padding-top: -10%;
  /* padding: 0% 10% 0% 25%; */
  /* text-align: center; */

  width: 50%;
  height: 0;
  margin: 0 auto;
  /* outline: solid 1px black; */
  display: flex;
  justify-content: center
}

#inbox{
  /* display: flex; */
  position: fixed;
  background-color: #e20e02;
  width: 25%;
  height: 100%;
  margin-right: 0;
  margin-top: 0;
  
  padding-top: 10%;
  padding-bottom: 15px;
  margin-left: 75%;
  z-index: 1;
  /* align-items:  */
  
}

.center-form{
  margin: 0 auto; 
  width: 100%;
}

#inbox h1 {
  color: white;
  font-size: x-large;
}
#inbox hr {
  color:yellow;
  background-color: yellow;
  height: 4px;

  border: none;


}

.circle-img {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 60px;
  height: 60px;
  /* margin-top: 5%;
  margin-left: 10px;
  margin-right: 15%; */
  text-align: left;
}

.contact-javi{
  /* display: inline-block; */
  text-align: center;
}
.contact-javi h3{
  margin-top: -15%;
  
  /* margin-left: 0; */
  position: relative;
  display: inline-block;
  /* margin: -1rem 0 0 0; */
  margin-left: 0%;
  /* padding-top: -10%;
  padding-bottom: 12%; */
  right: 15px;
  bottom: 42px;
}

.contact-javi img{
  margin-top: -15%;
  /* margin-left: 0; */
  position: relative;
  
  display: inline-block;
  margin-top: 3px;
  margin-right: 100%;

}

#navbar{
  background-color: #2a2d35;
}

